<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!-- User application and configured property settings go here.-->
    <!-- Example: <add key="settingName" value="settingValue"/> -->
    <add key="shadowfiles.path" value="%temp%\nunit20\ShadowCopyCache" />
    
    <!-- Used to indicate that NAnt should shadow files in a cache folder near the executable -->
    <add key="nant.shadowfiles" value="True" />

    <!-- Used to indicate if cached files should be delete when done running-->
    <add key="nant.shadowfiles.cleanup" value="False" />

  </appSettings>
</configuration>