<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
	<!-- Leave this alone. Sets up configsectionhandler section -->
	<configSections>
		<section name="nantsettings" type="SourceForge.NAnt.ConfigurationSection, NAnt.Core" />
	</configSections>

	<appSettings>
		<!-- User application and configured property settings go here.-->
		<!-- Example: <add key="settingName" value="settingValue"/> -->
		<add key="shadowfiles.path" value="%temp%\nunit20\ShadowCopyCache" />

		<!-- Used to indicate that NAnt should shadow files in a cache folder near the executable -->
		<add key="nant.shadowfiles" value="True" />

		<!-- Used to indicate if cached files should be delete when done running-->
		<add key="nant.shadowfiles.cleanup" value="False" />
	</appSettings>
	
	<!-- nant config settings -->
	<nantsettings 
		defaultframework="net-1.0"      
		>      
		<frameworks>
			<frameworkinfo    
				name = "net-1.0"
				description = "Microsoft .Net Framework 1.0"
				version = "1.0.3705"
				runtimeengine=""
				csharpcompilername = "csc"
				resgenname = "resgen"
				>
				<sdkdirectory useregistry="true" regkey="Software\Microsoft\.NetFramework" regvalue="sdkInstallRoot" />
				<frameworkdirectory useregistry="true" regkey="Software\Microsoft\.NetFramework" regvalue="InstallRoot" />
				<frameworkassemblydirectory useregistry="true" regkey="Software\Microsoft\.NetFramework" regvalue="InstallRoot"/>
			</frameworkinfo>
			<frameworkinfo    
				name = "net-1.1"
				description = "Microsoft .Net Framework 1.1"
				version = "1.1.4322"
				runtimeengine=""
				csharpcompilername = "csc"
				resgenname = "resgen"
				>             
				<sdkdirectory useregistry="true" regkey="Software\Microsoft\.NetFramework" regvalue="sdkInstallRootv1.1" />
				<frameworkdirectory useregistry="true" regkey="Software\Microsoft\.NetFramework" regvalue="InstallRoot" />
				<frameworkassemblydirectory useregistry="true" regkey="Software\Microsoft\.NetFramework" regvalue="InstallRoot"/>
			</frameworkinfo>
			<frameworkinfo    
					name = "mono-0.21"
					description = "gnome projects port of the .Net Framework 0.21"
					version = "0.21"
					runtimeengine="mono.exe"
					csharpcompilername = "mcs"
					resgenname = "monoresgen"
					>
					<sdkdirectory dir="C:\mono-0.21\install\bin" />
					<frameworkdirectory dir="C:\mono-0.21\install\bin" />
					<frameworkassemblydirectory dir="C:\mono-0.21\install\lib" />
			</frameworkinfo> 
			<frameworkinfo    
				name = "mono-0.22"
				description = "gnome projects port of the .Net Framework 0.22"
				version = "0.22"
				runtimeengine="mono.exe"
				csharpcompilername = "mcs"
				resgenname = "monoresgen"
				>
				<sdkdirectory dir="C:\mono-0.22\install\bin" />
				<frameworkdirectory dir="C:\mono-0.22\install\bin" />
				<frameworkassemblydirectory dir="C:\mono-0.22\install\lib" />
			</frameworkinfo> 
			<frameworkinfo
				name = "netcf-1.0"
				description = "Microsoft .Net Compact Framework Framework 1.0"
				version = "1.1.4322"             
				runtimeengine=""
				csharpcompilername = "csc"
				resgenname = "cfresgen"
				>                          
				<sdkdirectory dir="C:\Program Files\Microsoft Visual Studio .NET 2003\CompactFrameworkSDK\v1.0.5000\bin" />
				<frameworkdirectory useregistry="true" regkey="Software\Microsoft\.NetFramework" regvalue="InstallRoot" />
				<frameworkassemblydirectory dir="C:\Program Files\Microsoft Visual Studio .NET 2003\CompactFrameworkSDK\v1.0.5000\Windows CE" />
			</frameworkinfo>
			<!-- shared source implementation -->
			<frameworkinfo
				name = "sscli-1.0"
				description = "Microsoft Shared Source CLI 1.0"
				version = "1.0.0000"             
				runtimeengine="clix.exe"
				csharpcompilername = "csc"
				resgenname = "resgen"
				>                          
				<sdkdirectory dir="C:\sscli\build\v1.x86fstchk.rotor\sdk\bin"/>
				<frameworkdirectory  dir="C:\sscli\build\v1.x86fstchk.rotor" />
				<frameworkassemblydirectory  dir="C:\sscli\build\v1.x86fstchk.rotor"/>
			</frameworkinfo>
		</frameworks>
	     
		<!-- Default properties -->
		<properties>
			<!-- add global properties here in th following format-->
			<!-- <property name="foo" value = "bar" readonly="false" /> -->
		</properties>
	     
		<tasks>
			<!-- setting for individual tasks -->             
			<task name ="csctask">
				<!-- not used yet -->
			</task>
			<task name ="resgentask">
				<!-- not used yet -->
			</task>
		</tasks>
	</nantsettings>
	
</configuration>