<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
	<project name="NAnt">
		<webURL>http://localhost/ccnet</webURL>
		<modificationDelaySeconds>10</modificationDelaySeconds>
		<sourcecontrol type="cvs" autoGetSource="true">
			<cvsroot>:ext:drieseng@nant.cvs.sourceforge.net:/cvsroot/nant</cvsroot>
			<module>nant</module>
			<webUrlBuilder type="viewcvs">
				<url>http://nant.cvs.sourceforge.net/viewvc</url>
			</webUrlBuilder>
		</sourcecontrol>
		<tasks>
			<nant>
				<executable>c:\program files\NAnt\bin\nant.exe</executable>
				<baseDirectory>.</baseDirectory>
				<buildFile>nightly.xml</buildFile>
				<logger>NAnt.Core.DefaultLogger</logger>
				<buildArgs>-D:install.prefix=d:/</buildArgs>
				<buildTimeoutSeconds>1200</buildTimeoutSeconds>
			</nant>
		</tasks>
		<publishers>
			<xmllogger>
				<logDir>log</logDir>
			</xmllogger>
			<email mailhost="smtp.telenet.be" from="gert.driesen@telenet.be" includeDetails="true">
				<users>
					<user name="Gert Driesen" group="admin" address="gert.driesen@telenet.be"/>
				</users>
				<groups>
					<group name="admin" notification="always"/>
				</groups>
			</email>
		</publishers>
		<triggers />
	</project>
</cruisecontrol>