<draco xmlns="http://www.chive.com/draco">
	<pollperiod>60</pollperiod>
	<quietperiod>60</quietperiod>
	<timeoutperiod>3600</timeoutperiod>
	<rootsourcedir>d:\Source</rootsourcedir>
	<mailserver>mail-out.pandora.be</mailserver>
	<fromaddress>gert.driesen@telenet.be</fromaddress>
	<builds>
		<build>
			<name>nant</name>
			<pollperiod>0</pollperiod>
			<quietperiod>30</quietperiod>
			<timeoutperiod>3600</timeoutperiod>
			<notification>
				<email>
					<recipient>gert.driesen@telenet.be</recipient>
				</email>
			</notification>
			<nant program="c:\program files\NAnt\bin\nant.exe">
				<buildfile>nightly.xml</buildfile>
				<targets>nightly</targets>
				<properties>
					<property name="install.prefix" value="d:/" />
				</properties>
			</nant>
			<cvs>
				<cvsroot>:ext:drieseng@nant.cvs.sourceforge.net:/cvsroot/nant</cvsroot>
				<module>nant</module>
			</cvs>
		</build>
		<build>
			<name>nantcontrib</name>
			<pollperiod>0</pollperiod>
			<quietperiod>30</quietperiod>
			<timeoutperiod>3600</timeoutperiod>
			<notification>
				<email>
					<recipient>gert.driesen@telenet.be</recipient>
				</email>
			</notification>
			<nant program="d:\NAnt\bin\NAnt.exe">
				<buildfile>nightly.xml</buildfile>
				<targets>nightly</targets>
				<properties>
					<property name="nant.dir" value="d:/NAnt" />
				</properties>
			</nant>
			<cvs>
				<cvsroot>:ext:drieseng@nantcontrib.cvs.sourceforge.net:/cvsroot/nantcontrib</cvsroot>
				<module>NAntContrib</module>
			</cvs>
		</build>
	</builds>
</draco> 