body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    background: white;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
}

h1.LinkHeader, h2.LinkHeader, h3.LinkHeader {
    margin-bottom: -18px;
}

h4 {
    margin-bottom: 0.5em;
}

h5 {
    margin-bottom: -.8em;
}


hr {
    color: gray;
    background-color: inherit;
}

input {
    font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
}

a:link {
    color: #0000cc;
    background-color: inherit;
}

a:visited {
    color: purple;
    background-color: inherit;
}

a:active {
    color: #cc0000;
    background-color: inherit;
}

a:hover {
    color: #cc0000;
    background-color: inherit;
}

.NavBar {
    color: black;
    background-color: #dfff80;
    border-color: #999966;
    border-style: none none solid none;
    border-width: 2px;
}

.NavBar-Cell {
    font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
    font-size: 79%;
}

.SideBar {
    font-size: 80%;
    font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
    padding: 8px;
}

div.table {
    margin-left: 40px;
    font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif;
    font-size: 80%;
}

div.nested-element {
	margin-left: 40px;
	position: relative;
}

div.nested-element table {
    font-size: 100%;
    border-collapse: collapse;
    width: 710px;
}

.table table {
    font-size: 100%;
    border-collapse: collapse;
    width: 750px;
}

.table th {
    background-color: #eeeeee;
    color: #000000;
    font-weight: bolder;
    padding: 5px;
    border: 1px solid #999999;
    text-align: left;
}

.table td {
    border: 1px solid #999999;
    padding: 5px;
}

.N {
    color: #99cc00;
    background-color: inherit;
}

.Ant {
    color: #ff9900;
    background-color: inherit;
}

pre {
    margin-top: .5em;
    margin-bottom: .5em;
}

code {
    font-family: Monospace, Courier New, Courier;
    background-color: inherit;
    color: #0000AA;
    font-size: 100%;
}

pre.code {
    font-family: Monospace, Courier New, Courier;
    background-color: inherit;
    color: #0000AA;
    font-size: 100%;
    margin-left: 0px;
}

span.code {
    font-family: Monospace, Courier New, Courier;
    background-color: inherit;
    color: #0000AA;
    font-size: 100%;
}

tr.required {
}

td.required {
	font-weight: bolder;
}