.menucontainer {
    background-color: #dfff80;
    margin: 0px 5px;
}

.sidebar {
    font-family: verdana, serif;
    font-size: 70.5%;
    padding: 0px 0px 0px 10px;
}

.main {
    top: 0;
}

.treeDiv {
    font-family: verdana, serif;
    font-size: 70.5%;
    font-weight: normal;
    overflow: visible;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

.treeNode {
    white-space: nowrap;
    text-indent: -14px;
    margin: 5px 2px 0px 14px;
}

A.treeUnselected:hover, A.treeSelected:hover {
    color: black;
    background-color: inherit;
    border: solid 1px #999999;
    text-decoration: none;
}

A.treeUnselected, A.treeSelected {
    text-decoration: none;
}

A.treeSelected {
    color: black;
    background-color: #ff9900;
    border: solid 1px #999999;
}

A.treeUnselected {
    color: black;
    background-color: inherit;
    border: solid 1px f0f0f0;
}

.treeSubnodes {
    padding: 0px 0px 0px 0px;
    display: inline;
    margin: 0px 2px 0px 0px;
}

.treeSubnodesHidden {
    display: none;
    margin: 0px 2px 0px 14px;
    padding: 0px 0px 0px 0px;
}

.treeNode IMG.treeNoLinkImage, .treeNode IMG.treeLinkImage {
    width: 9px;
    height: 9px;
    margin-left: 5px;
    margin-right: 5px;
}

.treeNode IMG.treeLinkImage {
    cursor: auto;
}
